{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col">
            {{ include('@PrestaShop/Admin/Improve/Design/Cms/Blocks/category_form.html.twig', {
                'cmsPageCategoryForm': cmsPageCategoryForm,
                'cmsCategoryParentId': app.request.query.get('id_cms_category')
            }) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('themes/new-theme/public/cms_page.bundle.js') }}"></script>
    {# Patch for load TinyMCE #}
    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}
